@model ErpCore.Business.Logic.Dtos.EmployeeModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
    <title>Thông tin chi tiết</title>
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css" />
    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    }

@section Scripts {
    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    }

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Thông tin nhân viên</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="students.html">Nhân viên</a>
                    </li>
                    <li class="breadcrumb-item active">Thông tin chi tiết</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <h4>
                        Hồ sơ nhân viên
                        <span>
                            <a href="javascript:;"><i class="feather-more-vertical"></i></a>
                        </span>
                    </h4>
                </div>
                <div class="student-profile-head">
                    <div class="profile-bg-img">
                        @if (string.IsNullOrEmpty(Model.CoverImage))
                        {
                            <img src="~/images/defaultBg.jpg" alt="Avatar" style="height: 338px;"/>
                        }
                        else
                        {
                            <img src="@Model.CoverImage" alt="Avatar" style="height: 338px;"/>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="profile-user-box">
                                <div class="profile-user-img">
                                    @if (string.IsNullOrEmpty(Model.Avatar))
                                    {
                                        <img src="~/images/default-avatar.jpg" alt="Avatar" style="width: 140px; height: 140px;" />
                                    }
                                    else
                                    {
                                        <img src="@Model.Avatar" alt="Avatar" style="width: 140px; height: 140px;" />
                                    }
                                    <div class="form-group students-up-files profile-edit-icon mb-0">
                                        <div class="uplod d-flex">
                                            <label class="file-upload profile-upbtn mb-0">
                                                <i class="feather-edit-3"></i><input type="file" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="names-profiles">
                                    <h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
                                    <h5>@Html.DisplayFor(model => model.Role)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-4 d-flex align-items-center ">
                            <div class="follow-btn-group d-flex justify-content-end m-4">
                                <button type="submit"
                                        class="btn btn-info follow-btns">
                                    Theo dõi
                                </button>
                                <button type="submit"
                                        class="btn btn-info message-btns">
                                    Nhắn tin
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="student-personals-grp">
                    <div class="card">
                        <div class="card-body">
                            <div class="heading-detail">
                                <h4>Thông tin cá nhân :</h4>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-user"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Họ và tên</h4>
                                    <h5>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <img src="~/assets/img/icons/buliding-icon.svg"
                                         alt="" />
                                </div>
                                <div class="views-personal">
                                    <h4>Phòng Ban</h4>
                                    <h5>@Html.DisplayFor(model => model.Department)</h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-phone-call"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Số điện thoại</h4>
                                    <h5>@Html.DisplayFor(model => model.PhoneNumber)</h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-mail"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Email</h4>
                                    <h5>
                                        <a href="/cdn-cgi/l/email-protection"
                                           class="__cf_email__"
                                           data-cfemail="81e5e0e8f2f8c1e6ece0e8edafe2eeec">@Html.DisplayFor(model => model.Email)</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-user"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Giới tính</h4>
                                    <h5>@Html.DisplayFor(model => model.PhoneNumber)</h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-calendar"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Ngày sinh</h4>
                                    <h5>@Html.DisplayFor(model => model.DateOfBirth)</h5>
                                </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                    <i class="feather-italic"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Ngôn ngữ</h4>
                                    <h5>English, Vietnamese</h5>
                                </div>
                            </div>
                            <div class="personal-activity mb-0">
                                <div class="personal-icons">
                                    <i class="feather-map-pin"></i>
                                </div>
                                <div class="views-personal">
                                    <h4>Địa chỉ</h4>
                                    <h5>@Html.DisplayFor(model => model.Address)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="student-personals-grp">
                    <div class="card mb-0">
                        <div class="card-body">

                            <div class="heading-detail">
                                <h4>Mô tả cá nhân:</h4>
                            </div>
                            <div class="hello-park">
                                <h5>Kinh nghiệm làm việc</h5>
                                <div>@Html.Raw(Model.WorkExperience)</div>
                            </div>
                            <div class="hello-park">
                                <h5>Trình độ học vấn</h5>
                                <div>@Html.Raw(Model.AcademicLevel)</div>
                            </div>
                            <div class="hello-park">
                                <h5>Kĩ năng mềm</h5>
                                <div>@Html.Raw(Model.Description)</div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>