@model IEnumerable<ErpCore.Business.Logic.Dtos.EmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
    <title>Nhân viên</title>
    
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css" />
    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    <script>
        var accessToken = Cookies.get('access_token');
        function confirmDelete(id) {
            Swal.fire({
                title: 'Bạn chắc chắn muốn xóa sản phẩm này?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Đồng ý',
                cancelButtonText: 'Hủy',
            }).then((result) => {
                if (result.isConfirmed) {
                    var accessToken = Cookies.get('access_token');
                    // Gọi API xóa sản phẩm
                    $.ajax({
                        url: "https://localhost:7277/api/Employee/" + id,
                        type: 'DELETE',
                        headers: {
                            "Authorization": "Bearer " + accessToken
                        },
                        success: function (data) {
                            
                            Swal.fire({
                                title: 'Xóa thành công',
                                icon: 'success',
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function (data) {
                            Swal.fire({
                                title: 'Xóa thất bại',
                                text: data.responseText,
                                icon: 'error',
                            });
                        },
                    });
                }
            });
        }   
    </script>
}

@if (TempData["Notify"] != null)
{
    if (TempData["Notify"]!.ToString() == "Success")
    {
        @section ScriptNotify{
            <script>
                $(function () {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'success',
                        title: '<span style="font-size: 18px">Thành công</span>',
                        showConfirmButton: false,
                        timer: 5000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                });
            </script>
        }
    }
    else
    {
        @section ScriptNotify{
          <script>
                $(function () {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'error',
                        title: '<span style="font-size: 18px">Thất bại</span>',
                        showConfirmButton: false,
                        timer: 5000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                });
          </script>
        }
    }
}

@section Scripts {
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/assets/plugins/datatables/datatables.min.js"></script>

    <script src="~/assets/js/script.js"></script>

    <script>
        $(document).ready(function () {
            $('.table-responsive').find('table').DataTable().destroy();
            $('.table-responsive').find('table').DataTable({
                paging: false,
                ordering: true,
                searching: false,
                info: false
            });
        });
    </script>
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-sub-header">
                <h3 class="page-title">Nhân viên</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="students.html">Nhân viên</a>
                    </li>
                    <li class="breadcrumb-item active">Tất cả nhân viên</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="student-group-form">
    <div class="row justify-content-end">
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Tìm kiếm với ID ..." />
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Tìm kiếm với tên ..." />
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Tìm kiếm với SĐT ..." />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="search-student-btn">
                <button type="button" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table comman-shadow">
            <div class="card-body">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Danh sách nhân viên</h3>
                        </div>
                        <div class="col-auto text-end float-end ms-auto download-grp">
                            <a href="/Employee/Index"
                               class="btn btn-outline-gray me-2 active">
                                <i class="feather-list"></i>
                            </a>
                            <a href="/Employee/IndexGrid"
                               class="btn btn-outline-gray me-2">
                                <i class="feather-grid"></i>
                            </a>
                            <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i>Tải xuống</a>
                            <a href="add-student.html" class="btn btn-primary">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                        <thead class="student-thread">
                            <tr>
                                <th>
                                    <div class="form-check check-tables">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value="something" />
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Vai trò</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th class="text-end">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check check-tables">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   value="something" />
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="student-details.html"
                                               class="avatar avatar-sm me-2">
                                                @if (string.IsNullOrEmpty(item.Avatar))
                                                {
                                                    <img class="avatar-img rounded-circle"
                                                         src="~/images/default-avatar.jpg"
                                                         alt="Avatar" />
                                                }
                                                else
                                                {
                                                    <img class="avatar-img rounded-circle"
                                                         src="@(item.Avatar) "
                                                         alt="Avatar" />
                                                }
                                            </a>
                                            <a href="student-details.html">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
                                        </h2>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td class="text-end">
                                        <div class="actions">
                                            <a href="@Url.Action("Details", "Employee", new { id = item.Id })"
                                               class="btn btn-sm bg-success-light me-2">
                                                <i class="feather-eye"></i>
                                            </a>
                                            <a href="@Url.Action("Edit", "Employee", new { id = item.Id })"
                                               class="btn btn-sm bg-danger-light me-2">
                                                <i class="feather-edit"></i>
                                            </a>                       
                                            <a href="#" class="btn btn-sm bg-danger-light" onclick="confirmDelete(@item.Id)">
                                                <i class="feather-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


